.scroll-section {
  position: relative;
  will-change: transform;
  z-index: 50;
  height: 80vh;
  display: flex;
  align-items: center;
}

.scroll-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(10, 10, 10);
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  z-index: 10;
}

.cards-wrapper {
  display: flex;
  gap: 50px;
  padding: 0 32px;
  will-change: transform;
}

.card-item {
  width: 280px;
  max-height: 75vh;
  flex-shrink: 0;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgb(38, 38, 38);
  z-index: 150;
}

.progress-indicator {
  height: 100%;
  background-color: rgb(245, 245, 245);
}
