/* Wrapper */
.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 9999;

  display: grid;
  place-items: center;
  overflow: hidden;

  transform: translateY(0);
  transition: transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
}

.loading-hide {
  transform: translateY(-100%);
}

/* Text Gradient */
.loading-text {
  display: flex;
  font-weight: bold;
  white-space: nowrap;
  font-size: 60px;

  background: linear-gradient(
    to right,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  -webkit-background-clip: text;
  color: transparent;

  background-size: 200% auto;
  animation: animate-gradient 3s ease infinite;
}

/* Curtain Bars */
.loading-curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.loading-bar {
  flex-grow: 1;
  height: 100%;
  background: #c9e265;
  transform-origin: bottom;
  transform: scaleY(0);
}

/* Progress Bar */
.loading-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: #444;
  overflow: hidden;
}

.loading-progress-fill {
  height: 100%;
  background: #c9e265;
}

/* ANIMATIONS */
@keyframes grow-bar {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes fill-progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes animate-gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
