@import "tailwindcss";
@keyframes rainbowBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes neonGlow {
  0% {
    filter: blur(12px);
    opacity: 0.6;
  }
  50% {
    filter: blur(18px);
    opacity: 1;
  }
  100% {
    filter: blur(12px);
    opacity: 0.6;
  }
}

.animate-rainbowBorder {
  animation: rainbowBorder 4s linear infinite;
}

.animate-neonGlow {
  animation: neonGlow 3s ease-in-out infinite;
}
